<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_demo.css') }}">
    <title>BOSC</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/png">


</head>
<body>

<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">
    <div class="container">
        <div class="row extra-row align-items-center">
            <div class="col-11 col-xl-2" style="display: flex; align-items: center;">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" width="35" height="35">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-white font-weight-bolder mb-0" style="margin-left: 10px;" >BOSC</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="{{ url_for('index') }}"><span>Home</span></a></li>
                        <li><a href="{{ url_for('demo') }}"><span>Demo</span></a></li>
                        <li class="active"><a href="{{ url_for('docu') }}"><span>Docu</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
              <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                <span class="icon-menu h3"></span>
              </a>
            </div>
        </div>
    </div>
</header>


<div class="hero">
    <p style="padding-top: 50px;"></p>
    <div class="docu-text">
        <embed src="{{ url_for('static', filename='images/BOSC.pdf') }}" type='application/pdf'>
    </div>
</div>
    
<div class="copyright"> Copyright &copy;  2024 BOSC. All rights reserved.</div>

</body>


</html>

